<div class="p-7 informationContainer">
    <div  class="p-6 bg-base-200 rounded-lg shadow-lg">
        <slot/>
    </div>
</div>

<style>
    .informationContainer {
        min-height: calc(100dvh - 82px);
    }
</style>